<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DISH FILTER</title>
</head>
<body>
<form action="find_dish" method="POST">
    {% csrf_token %}
   <div>
    <label for="country">Dish From Country</label>
    <select id="country" name="country">
        {% for country in dish_country %}
        <option value="{{ country }}">{{ country }}</option>
        {% endfor %}
    </select>
  </div>
    <div>
    <label for="dish_type">Dish Type</label>
    <select id="dish_type" name="dish_type">
        <option value="ALL">ALL</option>
        <option value="Appetizer">Appetizer</option>
        <option value="Salad">Salad</option>
        <option value="Soup">Soup</option>
        <option value="Garnish">Garnish</option>
        <option value="Main Dish">Main Dish</option>
        <option value="Meat Dish">Meat Dish</option>
        <option value="Poultry Dish">Poultry Dish</option>
        <option value="Seafood Dish">Seafood Dish</option>
        <option value="Snack">Snack</option>
        <option value="Sauce">Sauce</option>
        <option value="Dessert">Dessert</option>
        <option value="Beverage">Beverage</option>
    </select>
    </div>
    <div>
    <label for="method">Method Preparation</label>
    <select id="method" name="method">
        <option value="ALL">ALL</option>
        <option value="Combine">Combine</option>
        <option value="Slicing">Slicing</option>
        <option value="Fry">Fry</option>
        <option value="Brew">Brew</option>
        <option value="Steamed">Steamed</option>
        <option value="BBQ-Grill">BBQ-Grill</option>
        <option value="Braised">Braised</option>
        <option value="Baked">Baked</option>
    </select>
    </div>
    <div>
    <label for="difficulty">Difficulty Dish Preparation</label>
    <select id="difficulty" name="difficulty">
        <option value="Any complexity">Any complexity</option>
        <option value=1>One</option>
        <option value=2>Two</option>
        <option value=3>Three</option>
        <option value=4>Four</option>
        <option value=5>Five</option>
        <option value=6>Six</option>
        <option value=7>Seven</option>
        <option value=8>Eight</option>
        <option value=9>Nine</option>
        <option value=10>Ten</option>
    </select>
    </div>
    <div>
    <label for="time_prep">Time Preparation Dish</label>
    <select id="time_prep" name="time_prep">
        <option value="Anytime">Anytime</option>
        <option value=10>10 min</option>
        <option value=20>20 min</option>
        <option value=30>30 min</option>
        <option value=40>40 min</option>
        <option value=50>50 min</option>
        <option value=60>60 min</option>
        <option value=90>90 min</option>
        <option value=120>120 min</option>
        <option value=150>150 min</option>
        <option value=180>180 min</option>
    </select>
    </div>
    <button>Show results</button>
</form>
</body>
</html>